REHOST_SERVICE_PORT=3000
IPFS_HOSTNAME=ipfs.some.where
IPFS_API_IP=8.8.8.8
IPFS_API_PORT=1234566
IPFS_API_PROTOCOL="http://"
MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_USERNAME=admin
MONGODB_PASSWORD=1234556
GITHUB_ACCESS_TOKEN=llklkl
INSIDE_DOCKER=true
REHOST_IMAGE_VERSION=0.1.0
